# macOS
.DS_Store

# Swift Package Manager
/.build/
.swiftpm/
Package.resolved

# Xcode
xcuserdata/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Build artifacts / distribution
*.app
*.dmg
